<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteBase /tecweb/actividades/Propuesta_MVC/
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^ index.php [L]
</IfModule>